@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotronAgregado">
	<div class="col-md-4 divBotonMenu">
		<h2>Donantes</h2>
		<p><a class="btn btn-primary glyphicon glyphicon-user botonMenu" href="../Donantes/Index"></a></p>
	</div>
	<div class="col-md-4 divBotonMenu">
		<h2>Donaciones</h2>
		<p><a class="btn btn-primary glyphicon glyphicon-tint botonMenu" href="#"></a></p>
	</div>
	<div class="col-md-4 divBotonMenu">
		<h2>Destinos</h2>
		<p><a class="btn btn-primary glyphicon glyphicon-map-marker botonMenu" href="#"></a></p>
	</div>
</div>

<div class="row">
    
</div>