body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

.barraLateralDerecha {
	background-color: #FA0F5B;
	position: absolute;
	right: .5%;
	width: 5%;
	top: 0;
	bottom: 0;
	display: none;
}

.barraIngresoIzquierda {
	right: 60%;
	text-align: right;
	margin-top: 5%;
	padding-right: 0.3em;
	z-index: 3;
	border-bottom: #FA0F5B solid 2px;
}

.barraIngresoDerecha {
	left: 101%;
	text-align: left;
	margin-top: -0.1%;
	padding-left: 0.3em;
	z-index: 3;
	border-top: #323CC4 solid 2px;
}

.barraIngreso {
	width: 55%;
	height: 5%;
	transition: 2s;
	-webkit-transition: 2s;
	-moz-transition: 2s;
	position: relative;
	font: 1.6em roboto, arial, sans-serif;
	color: #ffffff;
	-webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 500px) {
	.barraIngreso {
		font-size: 1.2em;
	}
}

.logoBancoSangre {
	display: none;
	background: url('../../Content/Imagenes/bancosangre.jpg') no-repeat center;
	background-size:contain;
	margin-top: -1.2%;
	position: relative;
	height: 40%;
	z-index: 1;
}

.contenedorCentrar {
	height: 100%;
	width: 100%;
	display: table;
}

.divCentrar {
	vertical-align: middle;
	height: 100%;
	display: table-cell;
}

.divLanzamiento {
	text-align: center; 
	background-color: #617286; 
	width: 100%;
	height: 100%;
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0;
	z-index: 9999
}

.botonMenu {
	padding: .25em;
	font-size: 6em;
}

@media screen and (max-width: 500px) {
	.botonMenu {
		font-size: 5em;
	}
}

.divBotonMenu {
	text-align: center;
}

@media screen and (max-width: 500px) {
	.divBotonMenu h2 {
		font-size: 1.2em;
	}
}

