body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.barraLateralDerecha {
    background-color: #FA0F5B;
    position: absolute;
    right: .5%;
    width: 5%;
    top: 0;
    bottom: 0;
    display: none;
}

.barraIngresoIzquierda {
    right: 60%;
    text-align: right;
    margin-top: 5%;
    padding-right: 0.3em;
    z-index: 3;
    border-bottom: #FA0F5B solid 2px;
}

.barraIngresoDerecha {
    left: 101%;
    text-align: left;
    margin-top: -0.1%;
    padding-left: 0.3em;
    z-index: 3;
    border-top: #323CC4 solid 2px;
}

.divCentrar {
    height: 100%;
    display: table-cell;
}

.barraIngresoIzquierda .divCentrar {
    vertical-align: bottom;
}

.barraIngresoDerecha .divCentrar {
    vertical-align: top;
}

.barraIngreso {
    width: 55%;
    height: 12%;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    position: relative;
    font: 1.6em roboto, arial, sans-serif;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 500px) {
    .barraIngreso {
        font-size: 1.2em;
    }
}

.logoBancoSangre {
    display: none;
    background: url('../../Content/Imagenes/bancosangre.jpg') no-repeat center;
    background-size: contain;
    margin-top: -1.2%;
    position: relative;
    height: 40%;
    z-index: 1;
}

.contenedorCentrar {
    height: 100%;
    width: 100%;
    display: table;
}

.divLanzamiento {
    text-align: center;
    background-color: #637488;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

.botonMenu {
    padding: .25em;
    font-size: 5.2em !important;
}

.divBotonMenu {
    text-align: center;
}

@media screen and (max-width: 500px) {
    .divBotonMenu h2 {
        font-size: 1.2em;
    }
}

table.table-striped td.celdaGrillaAdmin {
    text-align: center;
}

.contenedorTituloCrearEditar {
    display: inline-block;
    width: 100%;
    padding-top: 1em;
}

.tituloCrearEditar {
    font-family: roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.7em;
    display: inline-block;
    float: left;
}

@media screen and (max-width: 500px) {
    .tituloCrearEditar {
        font-size: 1.45em;
    }
}

.botonesCrearEditar {
    display: inline-block;
    float: right;
}

hr.hr {
    height: 2px;
    background-color: #FA0F5B;
    margin-top: 0;
}

hr.hrGris {
    height: 1.5px;
    background-color: #909092;
    margin-top: 0;
    margin-top: 1.5em;
}

.otraLocalidad {
    color: #FA0F5B;
}

.cajaBusqueda {
    width: 22%;
}

@media screen and (max-width: 991px) {
    .cajaBusqueda {
        margin: .4em 0 .4em 0;
    }
}

@media screen and (max-width: 767px) {
    .cajaBusqueda {
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    .cajaBusqueda {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .noEnCelular {
        display: none;
    }
}

.contenedorEdad {
    margin-left: 0;
    width: 100%;
    display: inline-block;
    max-width: 280px;
}

.fechaNac {
    display: inline-block;
    width: 60%;
}

.edad {
    display: inline-block;
    width: 23%;
}

.field-validation-valid {
    display: none;
}

.validation-summary-valid {
    display: none;
}

.volverArribaPagina {
    display: inline-block;
    float: right;
    margin: 20px 0 10px 0;
}

.contenedorPreguntaRespuesta {
    padding: 0 0.5em 0 1.5em;
    width: 49%;
    float: left;
    height: 3.3em;
}

.nuevaLinea {
    clear: left;
}

@media screen and (max-width: 655px) {
    .contenedorPreguntaRespuesta {
        width: 100%;
    }
}

.contenedorPreguntaRespuesta-LineaEntera {
    padding: 0 1.5em 0 1.5em;
    width: 100%;
    float: left;
    max-height: 9em;
    min-height: 3.3em;
}

.contenedorTotalDatosDemograficos {
    border-top: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
    display: inline-block;
    padding: 0.3em 0 0.7em 0;
}

.contenedorDatoDemografico {
    padding: 1em 0.5em 0.5em 1.5em;
    width: 49%;
    float: left;
    height: 3em;
}

.preguntaRespuesta {
    vertical-align: middle;
    width: 48%;
    display: inline-block;
    font-size: .96em;
    padding: .5em 0;
}

.preguntaRespuesta-Titulo {
    padding: .8em 0;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
}

.radioPregunta {
    vertical-align: middle;
    margin: 0 5px 0 5px;
}

.radioCuestionario {
    height: 22px !important;
    width: 22px !important;
}

.areaTextoRespuesta {
    width: 100%;
    max-width: none;
}

.iconoOrden {
    color: #a5a2a2;
}

.iconoOrden.true {
    color: #5a5a5a;
}

@page {
    margin: 15px;
}