
@{
	ViewBag.Title = "Cuestionario";
}

@Html.AntiForgeryToken()

<div class="panel panel-default" ng-controller="cuestionarioController" ng-cloak>

	<div class="contenedorTituloCrearEditar">
		<div class="tituloCrearEditar">Cuestionario</div>
		<div class="botonesCrearEditar">
			<button class="btn btn-primary" ng-show="editar" ng-click="guardarCuestionario(false)">Guardar</button>
			<button class="btn btn-primary" ng-show="editar" ng-click="guardarCuestionario(true)">Guardar e imprimir</button>
			<button class="btn btn-primary" ng-hide="editar" ng-click="imprimirCuestionario()">Imprimir</button>
			<a href="{{ linkVolver }}" class="btn btn-success" Title="Volver al listado">
				<span class="glyphicon glyphicon-chevron-left"></span>
				Volver
			</a>
		</div>
	</div>
	
	<div id="contenido">
		
		<div class="form-horizontal contenedorPreguntaRespuesta-LineaEntera">
			<div class="preguntaRespuesta-Titulo">
				FICHAS DE ADMISIÓN
			</div>
		</div>

		<div class="form-horizontal contenedorDatoDemografico" ng-repeat="d in datosDemograficos">
			<div class="preguntaRespuesta">
				{{ d.Etiqueta }}
			</div>
			<div class="preguntaRespuesta">
				{{ d.Dato }}
			</div>
		</div>

		<div class="form-horizontal" ng-class="obtenerClaseContenedor(pregunta)" ng-repeat="pregunta in preguntas">

			<div ng-class="obtenerClasePregunta(pregunta)">
				{{ pregunta.TextoPregunta }}
			</div>

			<div class="preguntaRespuesta" ng-hide="pregunta.EsTitulo">
				<div ng-show="pregunta.EsCerrada">
					<label>
						<span class="radioPregunta">Sí</span>
						<input type="radio" ng-model="pregunta.RespuestaCerrada" ng-value="true" Class="radioPregunta">
					</label>
					<label>
						<span class="radioPregunta">No</span>
						<input type="radio" ng-model="pregunta.RespuestaCerrada" ng-value="false" Class="radioPregunta">
					</label>
				</div>

				<textarea ng-hide="pregunta.EsCerrada" ng-model="pregunta.RespuestaAbierta" Class="areaTextoRespuesta" placeholder="Respuesta"></textarea>
			</div>
		</div>
	</div>

	<div class="contenedorTituloCrearEditar">
		<div class="botonesCrearEditar">
			<button class="btn btn-primary" ng-show="editar" ng-click="guardarCuestionario(false)">Guardar</button>
			<button class="btn btn-primary" ng-show="editar" ng-click="guardarCuestionario(true)">Guardar e imprimir</button>
			<button class="btn btn-primary" ng-hide="editar" ng-click="imprimirCuestionario()">Imprimir</button>
			<a href="{{ linkVolver }}" class="btn btn-success" Title="Volver al listado">
				<span class="glyphicon glyphicon-chevron-left"></span>
				Volver
			</a>
		</div>
	</div>

</div>

@section scripts{
	@Scripts.Render("~/app/services/cuestionarioServicio.js")
	@Scripts.Render("~/app/controllers/cuestionarioController.js")
}