@model IEnumerable<BancoSangre.Models.Donacion>

@{
	ViewBag.Title = "Donaciones";
}

<div class="contenedorTituloCrearEditar">
	<div class="tituloCrearEditar">Donaciones</div>
	<div class="botonesCrearEditar">
		<a href="@Url.Action("Menu", "Home")" class="btn btn-success" Title="Volver al listado">
			<span class="glyphicon glyphicon-chevron-left"></span>
			Volver
		</a>
	</div>
</div>

<hr class="hr" />

<div class="panel panel-default" ng-controller="donacionesController">

	<div class="panel-heading">
		<div class="row">
			<div class="col-md-9">
				<form class="form-inline">
					<input type="text" class="form-control cajaBusqueda" placeholder="Nro. Registro" ng-model="busqNroRegistro">
					<input type="text" class="form-control cajaBusqueda" placeholder="Donante" ng-model="busqDonante">
					<input type="text" class="form-control cajaBusqueda" placeholder="Destino" ng-model="busqDestino">
				</form>
			</div>
			<div class="col-md-pull-2">
				<label class="control-label" style="padding-left: 1%;">Donaciones: </label>
				<label class="control-label" style="padding-right: 1%;" ng-bind="donaciones.length"></label>
				<a ng-href="@Url.Action("Grilla", "Donantes")?accion=donacion" class="btn btn-primary" title="Ingresar Donación">
					<span>Ingresar Donación</span>
				</a>
			</div>
		</div>
	</div>

	<table class="table table-striped table-bordered table-hover table-condensed">
		<thead>
			<tr>
				<th width="10%" class="text-center">Nro. Registro</th>
				<th width="10%" class="text-center">Fecha</th>
				<th width="10%" class="text-center">Documento</th>
				<th width="20%" class="text-center">Donante</th>
				<th width="20%" class="text-center">Material</th>
				<th width="15%" class="text-center">Cantidad</th>
				<th width="15%" class="text-center">Destino</th>
			</tr>
		</thead>
		<tbody ng-cloak>
			<tr ng-repeat="donacion in filtrados = (donaciones | filter:{NroRegistro: busqNroRegistro, NomreDonante: busqDonante, Destino: busqDestino})
				| limitTo:infoPagina.itemsPorPagina:infoPagina.itemsPorPagina*(infoPagina.pagina-1)">
				<td class="celdaGrillaAdmin">
					<span>
						{{ donacion.NroRegistro }}
					</span>
				</td>
				<td class="celdaGrillaAdmin">
					<span>
						{{ donacion.Fecha }}
					</span>
				</td>
				<td class="celdaGrillaAdmin">
					<span>
						{{ donacion.DocDonante }}
					</span>
				</td>
				<td class="celdaGrillaAdmin">
					<span>
						{{ donacion.NomreDonante }}
					</span>
				</td>
				<td class="celdaGrillaAdmin">
					<span>
						{{ donacion.Material }}
					</span>
				</td>
				<td class="celdaGrillaAdmin">
					<span>
						{{ donacion.Cantidad }}
					</span>
				</td>
				<td class="celdaGrillaAdmin">
					<span>
						{{ donacion.Destino }}
					</span>
				</td>
			</tr>
		</tbody>
	</table>
	<div style="text-align: center">
		<uib-pagination ng-show="infoPagina.totalItems > infoPagina.itemsPorPagina" total-items="filtrados.length" boundary-links="true" ng-model="infoPagina.pagina"
										items-per-page="infoPagina.itemsPorPagina"></uib-pagination>
	</div>

</div>

@section scripts{
	@Scripts.Render("~/app/services/donacionesServicio.js")
	@Scripts.Render("~/app/controllers/donacionesController.js")
}